APP_NAME="RAG KBEng"
ENV=development
PORT=8000

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=rag_kbeng

JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=10080

OPENAI_API_KEY=wdwq2

CHUNK_SIZE=000
CHUNK_OVERLAP=000