pydantic-settings 
python-multipart
uvicorn
fastapi
pydantic
beanie
pymongo
passlib 
email-validator
bcrypt
jwt
pyjwt

pypdf
langchain-text-splitters
google-genai
pinecone


pytest
pytest-asyncio 
httpx
asgi-lifespan